/*
 * Media Queries
 */
@media screen and (max-width: 1170px) {
    nav {
        width: 90% !important;
    }
}

@media screen and (max-width: 1000px) {
    .index-welcome,
    .culture-welcome,
    .facts-welcome,
    .gallery-welcome,
    .destinations-welcome {
        left: 200px !important;
    }

    .culture,
    .facts,
    .destinations {
        text-align: center !important;

        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 900px) {
    nav {
        width: 95% !important;
    }
}

@media screen and (max-width: 850px) {
    header {
        height: 80px !important;

        nav {
            text-align: center;

            .navbar-flag {
                float: none !important;
                display: none !important;
            }
    
            .navbar-nav {
                float: none !important;
                margin-top: -30px !important;
            }
        }

        #nav-mobile {
            display: block !important;
        }
    }


    .index-welcome,
    .culture-welcome,
    .facts-welcome,
    .gallery-welcome,
    .destinations-welcome {
        left: 0px !important;
        padding: 0 100px;
    }
}

@media screen and (max-width: 582px) {
    header {
        nav {
            text-align: center;

            .navbar-flag {
                float: none !important;
                display: none !important;
            }
    
            .navbar-nav {
                float: none !important;
                margin-top: -30px !important;

                li {
                    margin-right: 10px !important;
                }
            }
        }

        #nav-mobile {
            display: block !important;
        }
    }

    footer {
        .footer-social {
            ul {
                li {
                    margin-right: 15px !important;
                }
            }
        }

        .separador {
            display: none !important;
        }
    }
}

header {
    border-bottom: 5px solid rgb(0, 73, 135);
    background-color: rgba(255, 255, 255, .75);
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    transition: all .2s ease-in-out;

    nav {
        width: 70%;
        margin: 0 auto;
        padding: 55px 0;
        transition: all .2s ease-in-out;

        .navbar-flag {
            float: left;
            margin-top: -50px;

            li a img {
                transition: transform .2s ease-in-out;
            }
        }

        .navbar-nav {
            float: right;
            margin-top: -10px;

            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 30px;

                &:last-child {
                    margin-right: 0px;
                }

                a {
                    text-decoration: none;
                    color: rgb(0, 73, 135);
                    padding: 10px 0;
                    font-size: 1.1rem;
                    font-weight: 600;
                    letter-spacing: 1px;

                    &:hover {
                        border-bottom: 3px solid var(--color-primary);
                    }
                }
            }
        }

        #nav-mobile {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 35px;
            margin-right: 20px;
            float: right;
            border: none;
            background-color: transparent;
            font-size: 2.2em;
            cursor: pointer;
        }
    }
}

.teste-mobile {
    height: 100vh !important;
}

.testeeee {
    transition: all .2s ease-in-out;
    margin-top: 100px !important;
    display: block !important;

    li {
        margin-right: 0 !important;
        margin-top: 50px !important;
        width: 100% !important;
        height: 40px;

        a {
            font-size: 2.2em !important;
        }
    }
}

.active {
    border-bottom: 3px solid var(--color-primary);
}

.navbar-scroll {
    background-color: rgba(255, 255, 255, 1);
    height: 70px;

    nav {
        padding: 35px;

        .navbar-flag {

            li a img {
                transform: scale(.7);
            }
        }
    }
}

footer {
    background-color: var(--color-secondary);

    .footer-wrapper {
        width: 90%;
        margin: 0 auto;

        .footer-link {
            padding: 100px 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
    
            ul {
    
                li {
                    list-style-type: none;
                    margin-top: 20px;
    
                    &:first-child {
                        margin-top: 0;
                    }
    
                    a {
                        display: block;
                        text-decoration: none;
                        color: var(--color-primary);
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }

    .footer-social {
        padding: 30px 0 37px;
        background-color: var(--color-primary);
        text-align: center;

        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            li {
                list-style-type: none;
                margin-right: 30px;

                &:first-child {
                    color: var(--color-secondary);
                    font-size: 1.5rem;
                    letter-spacing: .5px;
                    font-weight: 600;
                }

                a {
                    color: var(--color-secondary);
                    text-decoration: none;
                    font-size: 1.5rem;
                    letter-spacing: .5px;
                    border-bottom: 1px dotted var(--color-secondary);
                
                    &:hover {
                        border-bottom: 1px solid var(--color-secondary);
                    }
                }
            }
        }
    }

    .separador {
        border-left: 5px solid var(--color-primary);
    }
}

/*
 * Index Page
 */
.index-main {
    background-image: url("../img/bg-index.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .index-welcome {
        position: absolute;
        bottom: calc(50% - 260px);
        left: 350px;

        h1 {
            color: #f2f3f2;
            text-shadow: 1px 1px 2px #000;
            text-align: left;
            font-size: 4.5rem;
            letter-spacing: 2px;
        }

        a {
            color: #f2f3f2;
            text-decoration: none;
    
            i {
                cursor: pointer;
                font-size: 2.2rem;
                margin-left: 5px;
                margin-top: 10px;
                transition: transform .1s ease-in-out;
                
                &:hover {
                    transform: translateY(10px);
                }
            }
        }
    }
}

.index-info {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;

    h1 {
        color: #000;
        font-size: 2.7rem;
        letter-spacing: 1px;
        word-spacing: 10px;
        text-align: center;
        margin-bottom: 40px;
    }

    hr {
        border: 2px solid #000;
        width: 40px;
        margin-bottom: 30px;
    }

    .info-card {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        a {
            text-decoration: none;
        }
        
        figure {
            margin: 20px 0;
            overflow: hidden;
            max-height: 340px;
            max-width: 100%;
            transition: box-shadow .3s, transform .3s ease-in-out;
            
            &:hover {
                box-shadow: -10px 15px 25px rgba(0, 0, 0, 0.5);
                transform: translateY(-10px);

                img {
                    filter: brightness(.3);
                }

                figcaption h2 {
                    transform: translateY(-130px);
                }

                figcaption p {
                    color: #f2f3f2;
                    text-shadow: 1px 1px 2px #000;
                    line-height: 1.5rem;
                    word-spacing: 5px;
                    transform: translateY(-160px);
                    visibility: visible;
                    opacity: 1;
                }
            }

            img {
                max-width: 100%;
                transition: filter .3s ease-in-out;
                filter: brightness(.7);
            }
            
            figcaption  {
                max-width: 340px;
                padding: 15px 0;
                background-color: transparent;
                position: relative;

                h2 {
                    position: absolute;
                    bottom: 70px;
                    font-size: 1.8rem;
                    letter-spacing: 1px;
                    color: #f2f3f2;
                    margin-left: 30px;
                    text-shadow: 1px 1px 2px #000;
                    transition: transform .3s ease-in-out;
                }

                p {
                    color: transparent;
                    font-size: 1.2rem;
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    margin-left: 30px;
                    max-width: 290px;
                    transition: opacity .3s, visibility .3s ease-in-out;
                }
            }
        }
    }
}

/*
 * Culture Page
 */
.culture-main {
    background-image: url("../img/winter-activities.jpg");
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    .culture-welcome {
        position: absolute;
        bottom: calc(50% - 260px);
        left: 350px;

        h1 {
            color: #f2f3f2;
            text-shadow: 1px 1px 2px #000;
            text-align: left;
            font-size: 4.5rem;
            letter-spacing: 2px;
        }

        a {
            color: #f2f3f2;
            text-decoration: none;
    
            i {
                cursor: pointer;
                font-size: 2.2rem;
                margin-left: 5px;
                margin-top: 10px;
                transition: transform .1s ease-in-out;
                
                &:hover {
                    transform: translateY(10px);
                }
            }
        }
    }
}

.culture {
    padding: 30px 0 50px;
    width: 70%;
    margin: 0 auto;

    h2 {
        font-size: 2.2em;
        letter-spacing: 1px;
        margin-top: 20px;
        text-align: center;
    }

    hr {
        border: 2px solid #000;
        width: 40px;
        margin-top: 40px;
    }

    p {
        font-size: 1.3em;
        line-height: 30px;
        letter-spacing: 1px;
        word-spacing: 2px;
        margin: 20px 0;
        text-align: justify;
    }
}

/*
 * Facts Page
 */
.facts-main {
    background-image: url("../img/facts.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    .facts-welcome {
        position: absolute;
        bottom: calc(50% - 260px);
        left: 350px;

        h1 {
            color: #f2f3f2;
            text-shadow: 1px 1px 2px #000;
            text-align: left;
            font-size: 4.5rem;
            letter-spacing: 2px;
        }

        a {
            color: #f2f3f2;
            text-decoration: none;
    
            i {
                cursor: pointer;
                font-size: 2.2rem;
                margin-left: 5px;
                margin-top: 10px;
                transition: transform .1s ease-in-out;
                
                &:hover {
                    transform: translateY(10px);
                }
            }
        }
    }
}

.facts {
    padding: 0 0 50px;
    width: 70%;
    margin: 0 auto;

    h2 {
        font-size: 2.2em;
        letter-spacing: 1px;
        margin-top: 20px;
        text-align: center;
    }

    hr {
        border: 2px solid #000;
        width: 40px;
        margin-top: 40px;
    }

    p {
        font-size: 1.3em;
        line-height: 30px;
        letter-spacing: 1px;
        word-spacing: 2px;
        margin: 20px 0;
        text-align: justify;
    }
}

/*
 * Gallery Page
 */
 .gallery-main {
    background-image: url("../img/gallery-main.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .gallery-welcome {
        position: absolute;
        bottom: calc(50% - 260px);
        left: 350px;

        h1 {
            color: #f2f3f2;
            text-shadow: 1px 1px 2px #000;
            text-align: left;
            font-size: 4.5rem;
            letter-spacing: 2px;
        }

        a {
            color: #f2f3f2;
            text-decoration: none;
    
            i {
                cursor: pointer;
                font-size: 2.2rem;
                margin-left: 5px;
                margin-top: 10px;
                transition: transform .1s ease-in-out;
                
                &:hover {
                    transform: translateY(10px);
                }
            }
        }
    }
}

.gallery {
    width: 70%;
    margin: 0 auto;
    padding: 60px 0;

    h1 {
        color: #000;
        font-size: 2.7rem;
        letter-spacing: 1px;
        word-spacing: 10px;
        text-align: center;
        margin-bottom: 40px;
    }

    hr {
        border: 2px solid #000;
        width: 40px;
        margin-bottom: 30px;
    }

    .gallery-card {
        .row {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;

            figure {
                margin: 30px 0;
                overflow: hidden;
                max-height: 300px;
                max-width: 100%;
                transition: all .3s ease-in-out;
                
                &:hover {
                    transform: scale(1.2);

                    img {
                        filter: brightness(1);
                    }
                }

                img {
                    max-width: 100%;
                    transition: all .3s ease-in-out;
                    filter: brightness(.6);
                }
            }
        }
    }
}

/*
 * Destinations Page
 */
.destinations-main {
    background-image: url("../img/destinations.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .destinations-welcome {
        position: absolute;
        bottom: calc(50% - 260px);
        left: 350px;

        h1 {
            color: #f2f3f2;
            text-shadow: 1px 1px 2px #000;
            text-align: left;
            font-size: 4.5rem;
            letter-spacing: 2px;
        }

        a {
            color: #f2f3f2;
            text-decoration: none;
    
            i {
                cursor: pointer;
                font-size: 2.2rem;
                margin-left: 5px;
                margin-top: 10px;
                transition: transform .1s ease-in-out;
                
                &:hover {
                    transform: translateY(10px);
                }
            }
        }
    }
}

.destinations {
    padding: 70px 0;
    width: 70%;
    margin: 0 auto;

    .row {
        margin-top: 30px;
    }

    .destinations-wrapper {
        h2 {
            font-size: 2.2em;
            letter-spacing: 1px;
            margin-top: 20px;
            text-align: center;
        }

        hr {
            border: 2px solid #000;
            width: 40px;
            margin-top: 40px;
        }

        p {
            font-size: 1.3em;
            line-height: 30px;
            letter-spacing: 1px;
            word-spacing: 2px;
            margin: 20px 0;
            text-align: justify;
        }
    }
}